@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@font-face {
    font-family: 'Cheltenham';
    src: url('fonts/cheltenham/cheltenham-webfont.woff2') format('woff2'),
         url('fonts/cheltenham/cheltenham-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Las Enter isn't actually used at all at the moment */
@font-face {
    font-family: 'Las Enter';
    src: url('fonts/lasenter/lasenter_personaluseonly-webfont.woff2') format('woff2'),
         url('fonts/lasenter/lasenter_personaluseonly-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* not a fan of using *...margin: 0 is necessary but what about the other two? */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} */











nav {
    position: fixed;
    left: 0;
    top: 0;
    /* so nav stays in front of whatever else is going on, like the .scene */
    z-index: 1;

}
nav h1 {
    margin: 2vh 3vw;
    /* Prevents dropping a line with each space, TEMP solution, not great for mobile*/
    width: 50vw;
}
nav ul {
    /* idk why I have to put this again when nav is already fixed */
    position: fixed;
    right: 0;
    margin: 3vh 3vw;
    
    font-family: Text Me One;
    font-size: 3vh;
    
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin: 0 0.5vw;
    padding: 1vh 1vw;
}
nav ul li a {
    /* needs to be set for only white on homepage */
    color: white;
    
    text-decoration: none;
}

/* NEED to change px to vh so shadows arent misaligned*/
.neon {
    /* Las Enter line also blinks, and hard to read with glow */
    font-family: 'Text Me One';
    font-size: 30px; /* default 130px */
    color: #FFD5FF;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-weight: 400;
    letter-spacing: 0px; /* default 8px */
    text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA, 40px 0vw 200px #D42CCA;
}
.flicker-fast {
    animation: flicker 3s linear infinite;
}

.flicker-slow {
    animation: flicker 6s linear infinite;
}
.flicker-slower {
    animation: longflicker 7s linear infinite;
}
.flicker-slowest {
    animation: longflicker 9s linear infinite;
}
@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 69%, 100% {
        /* What is this? text-shadow: none; */
        opacity: .99;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 68.999% {
        opacity: 0.4;
    }
}
@keyframes longflicker {
    0%, 19.999%, 21%, 62.999%, 64%, 64.999%, 68%, 69.999%, 70.7%, 100% {
        opacity: .99;
    }
    20%, 20.999%, 63%, 63.999%, 65%, 67.999%, 70%, 70.699% {
        opacity: 0.4;
    }
}








/* .scene only used for main of homepage */
.scene {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(ellipse at bottom, #021031, #090c26, #0a081c, #060412, #010101);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spaceship {
    /* changed from relative, does this force a bottom bar? */
    position: absolute;
    animation: animate-spaceship 7s ease-in-out infinite;
}
@keyframes animate-spaceship {
    0%,100% {
        transform: translateY(-15px) rotate(67deg) translateX(10px);
    }
    25% {
        transform: translateY(-25px) rotate(66deg)  translateX(-5px);
    }
    50% {
        transform: translateY(-35px) rotate(67deg) translateX(-10px);

    }
    75% {
        transform: translateY(-25px) rotate(68deg)  translateX(5px);
    }
}
.spaceship::before {
    content: '';
    position: absolute;
    bottom: -95.9px;
    left: 473.99px;
    width: 2.3px;
    height: 100px;
    background: linear-gradient(#ffe5b6,transparent);

}
.spaceship::after {
    content: '';
    position: absolute;
    bottom: -150px;
    left: 47.5%;
    transform: translateX(-50%);
    width: 15px;
    height: 380px;
    background: linear-gradient(#ffe5b6,transparent);
    filter: blur(10px);
    animation: animate-booster 3s ease-in-out infinite;
}
@keyframes animate-booster {
    0%,100% {
        filter: blur(3px);
        width: 2.5px;
    }
    50% {
        filter: blur(7px);
        width: 8px;
    }
}
.space {
    position: absolute;
    /* left/top positons changes preferable? */
    transform: translateX(0vw) rotate(157deg);
}
.star {
    position: absolute;
    left 50%;
    top: 50%;
    height: 4px;
    width: 100px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0,0,255,0));
    border-radius: 999px;
    /* does this do anything? */
    filter: drop-shadow(0 0 6px #699bff);
    animation: tail 3s ease-in-out infinite, fall 3s ease-in-out infinite;
}
@keyframes tail {
    0% {
        width : 0px;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}
@keyframes fall {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
.star::before, .star::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    height: 4px;
    width: 30px;
    background: linear-gradient(-45deg, rgba(0,0,255,0), #5f91ff, rgba(0,0,255,0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: twinkle 3s ease-in-out infinite;
}
@keyframes twinkle {
    0% {
        width: 0px;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}
.star::after {
    transform: translateX(50%) rotateZ(-45deg);
}
.star:nth-child(1) {
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    animation-delay: 1s;
}
/* remember that the spaceship is the 6th child due to the workings of this stuff */
.star:nth-child(1)::before, .star:nth-child(1)::after {
    animation-delay: 1s;
}
.star:nth-child(2) {
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    animation-delay: 1.2s;
}
.star:nth-child(2)::before, .star:nth-child(2)::after {
    animation-delay: 1.2s;
}
.star:nth-child(3) {
    top: calc(50% - 0px);
    left: calc(50% - 150px);
    animation-delay: 1.4s;
}
.star:nth-child(3)::before, .star:nth-child(3)::after {
    animation-delay: 1.4s;
}
.star:nth-child(4) {
    top: calc(50% - -50px);
    left: calc(50% - 200px);
    animation-delay: 1.6s;
}
.star:nth-child(4)::before, .star:nth-child(4)::after {
    animation-delay: 1.6s;
}
.star:nth-child(5) {
    top: calc(50% - -100px);
    left: calc(50% - 250px);
    animation-delay: 1.8s;
}
.star:nth-child(5)::before, .star:nth-child(5)::after {
    animation-delay: 1.8s;
}
/* .scene so as to not interfere with other h1s */
.scene h1 {
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    font-family: Cheltenham;
    /* Do the italics work on Firefox and other browsers? */
    font-style: italic;
    font-size: 6vh;
    color: whitesmoke;
}